---
title: 
heading: heading
lead: lead
layout: default.hbs 
---

<nav class="nav">
    <div class="container">
        <ul class="nav-list">
            <li><a href="#" class="show-section-about">About</a></li>
            <li><a href="#" class="show-section-work">Work</a></li>
            <li><a href="#" class="show-section-contact">Contact</a></li>
        </ul>
    </div>
</nav>

<section class="section-home">
    <div class="inner">
        <div class="container">
            <h1>Roan Hahn <small>A Dutch based UX designer.<br />I create simple, beautiful, designs</small></h1>
            <button class="btn">More about me</button>
        </div>
    </div>
</section>

<section class="section-about">
    <button class="close-section-about">close</button>
</section>

