---
title: Home
layout: default.hbs
---

<div id="background_cycler">
    <div class="slide-1 active"></div>
    <div class="slide-2"></div>
    <div class="slide-3"></div>
</div>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>coming soon<small>We're working on it</small></h2>
                    <h1><span>Roan Hahn</span><small>A Dutch based UX designer</small></h1>
                    <ul>
                        <li><a href="mailto:&#109;&#097;&#105;&#108;&#064;&#114;&#111;&#097;&#110;&#104;&#097;&#104;&#110;&#046;&#110;&#108;"><i class="fa fa-envelope-o"></i></a></li>
                        <li><a href="https://twitter.com/roanhahn"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://dribbble.com/roanhahn"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="http://www.linkedin.com/in/roanhahn"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
