@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100,300|Roboto:100,300,400,500,700|Merriweather:400,700);
@import url(bootstrap.min.css); 
@import url(hero.css); 


html,body{
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body{
    background: #444;
    color: #fff;
    font: normal normal 400 13px/1 'Roboto Slab', serif;
    cursor: default;
}

::-moz-selection {
    color: #fff;
}

::selection {
    color: #fff;
}

h1,h2, ul, li{
    padding: 0;
    margin: 0;
}