*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    outline: none !important;
}

#background_cycler{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: none;

    & div{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        z-index: 1;
    }

    & .slide-1{
        background-image:url(../img/hero-1.png);
    }

    & .slide-2{
        background-image:url(../img/hero-2.png);
    }

    & .slide-3{
        background-image:url(../img/hero-3.png);
    }

    & div.active{
        z-index: 3;
    }
}

.hero{
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    /*text-shadow: 0px 0px 10px rgba(0,0,0,.1)*/
}

.hero-body{
    display: table-cell;
    height: 100%;
    padding: 0 15px;
    vertical-align: middle;

    & h1{
        text-transform: uppercase;
        font: normal normal 400 65px/1 'Roboto Slab', serif;
        letter-spacing: 18px;
        display: inline-block;
        padding: 90px 0;

        & span{
            display: block;
            margin-right: -18px;
        }

        @media screen and (max-width: 420px){
            font-size: 28px;
            letter-spacing: 9px;
            padding: 50px 0;

            & span{
                margin-right: -9px;
            }
        }
    }

    & h1 small{
        display: block;
        text-transform: none;
        color: #fff;
        font: normal normal 500 18px/1 'Roboto', serif;
        letter-spacing: 2px;
        padding: 30px 0;

        @media screen and (max-width: 420px){
            padding: 15px 0;
            font-size: 11px;
            letter-spacing: 0;
        }

        &:before{
            display: block;
            content: "";
            height: 3px;
            background-color: #fff;
            position: relative;
            margin-bottom: 30px;
            @media screen and (max-width: 420px){
                margin-bottom: 15px;
            }
        }

        &:after{
            display: block;
            content: "";
            margin-top: 30px;
            height: 3px;
            background-color: #fff;
            position: relative;
            @media screen and (max-width: 420px){
                margin-top: 15px;
            }
        }
    }

    & h2{
        font: normal normal 700 37px/1 'Roboto', serif;
        text-transform: uppercase;
        letter-spacing: 0px;

        @media screen and (max-width: 420px){
            font-size: 19px;
        }

        & small{
            display: block;
            color: #fff;
            font: normal normal 400 14px/1 'Roboto Slab', serif;
            letter-spacing: 2px;
            margin-top: 15px;
            text-transform: uppercase;

            @media screen and (max-width: 420px){
                font-size: 10px;
                margin-top: 10px;
            }
        }

    }


    & li{
        list-style-type: none;
        display: inline-block;
        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 50%;
        width: 42px;
        height: 42px;
        margin: 0 7px;
        overflow: hidden;
        text-align: center;

        @media screen and (max-width: 420px){
            margin: 0 7px;
        }

        & i{
            line-height: 1px;
            font-size: 19px;
            font-weight: normal;
            letter-spacing: 0;
            line-height: 37px;
        }

        & a{
            color: rgba(255,255,255,0.3);
            transition: color 0.2s ease;
            display: block;

            &:hover{
                color: #fff;
                transition: color 0.2s ease;
            }
        }
    }
}

