* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

#background_cycler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%; }
  #background_cycler div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 1; }
  #background_cycler .background-1 {
    background-image: url(../img/hero.png); }
  #background_cycler .background-2 {
    background-image: url(../img/hero2.png); }
  #background_cycler .background-3 {
    background-image: url(../img/hero3.png); }
  #background_cycler .background-4 {
    background-image: url(../img/hero4.png); }
  #background_cycler .background-5 {
    background-image: url(../img/hero5.png); }
  #background_cycler div.active {
    z-index: 3; }

.hero {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.hero-body {
  display: table-cell;
  height: 100%;
  padding: 0 15px;
  vertical-align: middle; }
  .hero-body h1 {
    text-transform: uppercase;
    font: normal normal 400 60px/1 'Roboto Slab', serif;
    letter-spacing: 18px;
    display: inline-block;
    padding: 90px 0 90px; }
    .hero-body h1 span {
      display: block;
      margin-right: -18px; }
    @media screen and (max-width: 420px) {
      .hero-body h1 {
        font-size: 28px;
        letter-spacing: 9px;
        padding: 50px 0 0; }
        .hero-body h1 span {
          margin-right: -9px; } }
  .hero-body h1 small {
    display: block;
    text-transform: none;
    color: #fff;
    font: normal normal 500 18px/1 'Roboto', serif;
    letter-spacing: 2px;
    padding: 30px 0 30px; }
    @media screen and (max-width: 420px) {
      .hero-body h1 small {
        font-size: 13px; } }
    .hero-body h1 small:before {
      display: block;
      content: "";
      height: 3px;
      background-color: #fff;
      position: relative;
      margin-bottom: 30px; }
      @media screen and (max-width: 420px) {
        .hero-body h1 small:before {
          height: 1px; } }
    .hero-body h1 small:after {
      display: block;
      content: "";
      margin-top: 30px;
      height: 3px;
      background-color: #fff;
      position: relative; }
      @media screen and (max-width: 420px) {
        .hero-body h1 small:after {
          height: 1px; } }
  .hero-body h2 {
    font: normal normal 300 35px/1 'Roboto', serif;
    text-transform: uppercase;
    letter-spacing: 8px; }
    @media screen and (max-width: 420px) {
      .hero-body h2 {
        font-size: 15px; } }
  .hero-body li {
    list-style-type: none;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: 0 15px;
    overflow: hidden;
    text-align: center; }
    .hero-body li i {
      line-height: 1px;
      font-size: 19px;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 37px; }
    .hero-body li a {
      color: rgba(255, 255, 255, 0.3);
      transition: color 0.2s ease;
      display: block; }
      .hero-body li a:hover {
        color: #fff;
        transition: color 0.2s ease; }
